//
// Raleway Thin
// ------------------------------------------------------

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Thin'),
       local('Raleway-Thin'),
       url('#{$raleway-font-path}/Raleway-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
